<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a href="http://github.com/lucasameyer">Lucas Meyer</a> while attending <a href="http://thefirhoseproject.com">The Firehose Project</a>. 
  </p>
  <br />
  <p>
  It is his goal to become a skilled web developer who can add value to an organization. 
  </p>
  <br />
  <br />
  <br />
  <br />

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
      <h2 class="text-center">Lucas Meyer</h2>
      <br />
      <p>
          It is Lucas' goal to become a full fledged and competant web developer. After getting a feel for the challenge and growth associated with coding, he decided to continue his education with self study and guided practice. He hopes to call himself a developer one day.
      </p>
  </div>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Lucas.jpg', class: 'img-responsive' %>
  </div>

  <br class="clear" />


</div>

<br class="clear" />
<br />
<br />
<br />
<br />